$color-main: #34393f;

%clearfix {
  &:after {
      clear: both;
      content: '.';
      display: block;
      height: 0;
      line-height: 0;
      overflow: hidden;
  }
  *height: 1%;
}

@mixin webkit($type, $value){
  -webkit-#{$type}: $value;
  -moz-#{$type}: $value;
  -o-#{$type}: $value;
  -ms-#{$type}: $value;
  #{$type}: $value;
}

@mixin webkitA($type, $value){
  #{$type}: -webkit-#{$value};
  #{$type}: -moz-#{$value};
  #{$type}: -o-#{$value};
  #{$type}: -ms-#{$value};
  #{$type}: $value;
}